body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
}

.container > div {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.container > div > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.colored {
  background-color: blue;
}